/* ALL THE APPS UI COMPONENTS SHOULD BE STYLED HERE */

// List of items
.item-list {
  padding: 15px;
  width: fit-content;
  margin: 2rem auto;

  &--item {
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: colormapper($color-map, white);
    padding: 1rem;
    width: 992px;
    margin: 0 auto;
    border-bottom: solid 1px colormapper($color-map, list-item-border);

    .delete-icon {
      position: absolute;
      right: 0;
      visibility: hidden;
    }

    .person-icon {
      width: 26px;
      height: 26px;
      margin: 0 1rem 0 2rem;
    }

    .item-info {
      flex: 1;

      &--name {
        font-weight: 500;
        font-size: #{$text-font-size};
        margin: 0 0 0.5rem 0;
        color: colormapper($color-map, item-title-color);
      }
    }

    &:hover {
      .delete-icon {
        visibility: visible;
      }

      .person-icon {
        g {
          rect {
            fill: colormapper($color-map, highlight-color);
          }
        }
      }
    }
  }
}

// Custom checkbox
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: #{$text-font-size};
    width: #{$text-font-size};
    background-color: colormapper($color-map, white);
    border: solid 2px colormapper($color-map, highlight-color);
    border-radius: 3px;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 3px;
      height: 6px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: colormapper($color-map, highlight-color);

      &::after {
        display: block;
      }
    }
  }
}

// Inplace editor
.inplace-editor {
  &--button {
    background-color: colormapper($color-map, highlight-color);
    border-radius: 3px;
    padding: 10px;
    color: colormapper($color-map, white);
  }

  &--voice {
    @extend .input-title-text;
  }

  &--voice, &--text {
    width: fit-content;
    cursor: pointer;
    padding: 0 10px;
    border: solid 2px colormapper($color-map, white);
    border-radius: 3px;

    &:hover {
      border-color: colormapper($color-map, highlight-color);
    }
  }

  input {
    @extend .input-title-text;

    margin-bottom: 0.5rem;
    width: 45%;
  }

  textarea {
    @extend .input-content-text;

    width: 95% !important;
    max-width: 95% !important;
    height: 100px;
  }

  textarea,
  input {
    @extend .input-highlight;

    border: solid 1px colormapper($color-map, highlight-color);
    line-height: 1.5;
    max-width: 95%;
    margin-right: 10px;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover,
    &:placeholder-shown {
      @include transition-mixin(none);
    }
  }
}

// TOAST COMPONENT

.toast {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 99999;

  &-error {
    width: 200px;
    padding: 10px;
    background-color: colormapper($color-map, error-color);
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;

    &--dismiss {
      position: absolute;
      right: 10px;
      font-weight: bold;
      color: colormapper($color-map, white);
    }

    &--title, &--description {
      color: colormapper($color-map, white);
    }
  }
}

@media screen and (max-width: 1068px) {
  .item-list {
    width: fit-content;

    &--item {
      width: -webkit-fill-available;
      width: -moz-available;
      width: -webkit-fill-available;
      width: stretch;
    }
  }
}
