/* ALL THE APPS UI COMPONENTS SHOULD BE STYLED HERE */

// List of items
.item-list {
  padding: 15px;

  &--item {
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: colormapper($color-map, white);
    padding: 1rem;
    max-width: 738px;
    margin: 0 auto;
    border-bottom: solid 1px colormapper($color-map, list-item-border);

    .delete-icon {
      position: absolute;
      right: 0;
      visibility: hidden;
    }

    .person-icon {
      width: 26px;
      height: 26px;
      margin: 0 1rem 0 2rem;
    }

    .item-info {
      flex: 1;

      &--name {
        font-weight: 500;
        font-size: #{$text-font-size};
        margin: 0 0 0.5rem 0;
        color: colormapper($color-map, item-title-color);
      }
    }

    &:hover {
      .delete-icon {
        @include transition-mixin(all, 0.3s, ease-in-out);

        visibility: visible;
      }

      .person-icon {
        svg {
          #head {
            @include transition-mixin(all, 0.3s, ease-in-out);

            fill: colormapper($color-map, highlight-color);
          }
        }
      }
    }
  }
}

// Custom checkbox
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkmark {
    @include transition-mixin(all, 0.3s, ease-in-out);

    position: absolute;
    top: 0;
    left: 0;
    height: #{$text-font-size};
    width: #{$text-font-size};
    background-color: colormapper($color-map, white);
    border: solid 2px colormapper($color-map, highlight-color);
    border-radius: 3px;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 3px;
      top: 1px;
      width: 3px;
      height: 6px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: colormapper($color-map, highlight-color);

      &::after {
        display: block;
      }
    }
  }
}

// Inplace editor
.inplace-editor {
  .p-inputtext:enabled:focus {
    @extend .input-highlight;
  }

  .p-inplace-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &--title {
    .p-inplace-display {
      @extend .input-title-text;

      padding: 0 !important;
    }
  }

  &--text {
    .p-inplace-display {
      @extend .input-content-text;

      padding: 0 !important;
    }
  }

  .p-button {
    background-color: colormapper($color-map, light-blue);
    border-color: colormapper($color-map, light-blue);
    margin-left: 1rem;

    .pi::before {
      content: "\E909";
    }

    &:enabled:hover {
      background-color: colormapper($color-map, highlight-color);
      border-color: colormapper($color-map, highlight-color);
    }

    &:enabled:focus:active {
      outline: none;
      box-shadow: none;
    }
  }

  input {
    @extend .input-title-text;

    margin-bottom: 0.5rem;
    width: 45%;
  }

  textarea {
    @extend .input-content-text;

    width: 95%;
    max-width: 95%;
  }

  textarea,
  input {
    @include transition-mixin(all, 0.3s, ease-in-out);

    border: solid 1px colormapper($color-map, highlight-color);
    line-height: 1.5;
    max-width: 95%;
    cursor: pointer;

    &:active,
    &:focus,
    &hover,
    &:placeholder-shown {
      @include transition-mixin(none);

      @extend .input-highlight;
    }
  }
}
