@use '../utils/mixins.scss';

.button {
  @include mixins.button-reset;

  padding: 0 8px;
  height: 40px;
  border-radius: 2px;
  transition: background-color 0.15s ease-in, transform 0.15s ease-in;
  cursor: pointer;
  outline: 0;

  &:hover,
  &:focus {
    background: #e2e2e2;
  }

  &:active {
    background-color: #c8c8c8;
    transform: translateY(1px);
  }
}