@mixin app_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $grey_dark;
}

@mixin item_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $grey_medium;
}

@mixin item_content {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $grey_light;
}

@mixin input_text {
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}
