@import "./utils/_reset";
@import "./utils/_variables";
@import "./utils/_mixins";

html,
body {
  height: 100%;
  width: 100%;
}

body{
  background: $color-main-bg;
}

body,
h1 {
  font-family: $fonts-not-loaded;
}

body.fontsLoaded {
  font-family: $font-open-sans;

  h1 {
    font-family: $font-montserrat;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
