# Overview of all rules: https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md
{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "each", "include", "mixin", "error", "return", "extend", "content"]
    }],
    "indentation": null,
    "selector-max-specificity": "0,4,0",
    "selector-max-compound-selectors": 4,
    "declaration-property-unit-whitelist": {
        "font-size": ["rem", "px"]
    },
    "no-missing-end-of-source-newline": null,
    "max-nesting-depth": [
      4,
      {
        "ignoreAtRules": [
          "include",
          "media"
        ]
      }
    ]
  }
}
