@import "../../../styles/Settings/settings";
@import "../../../styles/Tools/tools";

.navigation {
  background-color: colormapper($color-map, white);
  box-shadow: 0, 2px, 5px rgba(0, 0, 0, 36);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 69px;

  &--app-title {
    font-weight: 600;
    font-size: #{$title-font-size};
    color: colormapper($color-map, app-title-color);
  }

  &--buttons {
    display: flex;
  }
}
