@import "../../../styles/Settings/settings";
@import "../../../styles/Tools/tools";

.navigation {
  display: flex;
  align-items: center;
  background-color: colormapper($color-map, white);
  box-shadow: 0, 2px, 5px rgba(0, 0, 0, 36);
  height: 69px;

  &--wrapper {
    padding: 15px;
    width: 728px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &--app-title {
    font-weight: 600;
    font-size: #{$title-font-size};
    color: colormapper($color-map, app-title-color);
    cursor: default;
  }

  &--buttons {
    display: flex;
    flex-direction: row;

    &--button:first-child {
      margin-right: 15px;
    }
  }
}
