.page-title {
  font-family: "MontserratMedium", sans-serif;
  font-size: 18px;
  color: #414c5e;
  letter-spacing: 0.7px;
}

.list-item-title {
  font-family: "MontserratSemiBold", sans-serif;
  font-size: 16px;
  color: #566074;
}

body,
.list-item-text {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 16px;
  color: #778195;
}

.text-center {
  text-align: center;
}
