/* ALL THE HELPER CLASSES SHOULD BE PLACED HERE */

// Hides component only visually, but have it available for screenreaders: h5bp.com/v
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);

  // Extends the .visually-hidden class to allow the element to be focusable
  // when navigated to via the keyboard: h5bp.com/p
  &.focusable:focus {
    position: static;
    clip: auto;
  }
}

.input-highlight {
  @include transition-mixin(all, 0.3s, ease-in-out);

  box-shadow: none;
  border: solid 2px colormapper($color-map, highlight-color);
  border-radius: 3px;
  padding: 5px;
}

.input-title-text {
  @include item-text(title);
}

.input-content-text {
  @include item-text(text);
}
