@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');
:root {
    --semi-bold: 600;
    --medium: 600;

    --title-color: #414C5E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f6f7f8;
}

button {
    margin-right: 1rem;
    padding: 5px 1rem;
    background: transparent;
    border: none;
}

/* 
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 */

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}