@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

p,
span,
div {
  color: $grey-medium;
}