.dark {
    .header {
        background-color: var(--background-dark);
        color: #8F97A8;
        box-shadow: 0 3px 5px var(--shadow-dark);
    }

    .notes {
        background-color: var(--background-dark);
        color: white;
    }

    footer {
        background-color: var(--background-dark);
    }
}