.dark {
    background-color: var(--background-dark);
    
    .header {
        background-color: var(--background-dark);
        color: #8F97A8;
        box-shadow: 0 3px 5px var(--shadow-dark);
    }

    .content {
        background-color: var(--background-dark);
        color: white;

        .list {
            background-color: var(--background-dark);

            @media(min-width: 768px) {
                box-shadow: 0 3px 5px var(--shadow-dark);
            }

            li {
                border-bottom: 1px solid var(--shadow-dark);

                .note__title {
                    color: #8F97A8;
                }
            }
        }
    }

    footer {
        background-color: var(--background-dark);
    }

    .loading-container {
        background-color: rgba(black, 0.5);
    }

    dialog {
        box-shadow: 0 3px 5px var(--shadow-dark);

        p {
            background-color: var(--background-dark);
            color: #8F97A8;
        }
    }
}