.header {
    background-color: white;
    color: var(--unb-app-title);
    box-shadow: 0 3px 5px var(--shadow-light);
}

.content {
    background-color: var(--background-light);

    .list {
        background-color: white;

        @media(min-width: 768px) {
            box-shadow: 0 3px 5px var(--shadow-light);
        }

        li {
            border-bottom: 1px solid #EAEDEF;

            .note__title {
                color: #566074;
            }
        }
    }
}

footer {
    background-color: var(--background-light);
}

.loading-container {
    background-color: rgba(255, 255, 255, 0.5);
}