@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import './__variables.css';

body {
    margin: 0;
}

#app {
    height: 100vh;
}

.btn {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
