/* ALL THE BASE ELEMENTS THAT NEED STYLING SHOULD BE STYLED HERE */

html {
  font-size: #{$font-size};
}

body,
html {
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
  background-color: colormapper($color-map, main-background-color);
  overflow: hidden;
  font-family: $title-font-family;
}

a {
  background-color: colormapper($color-map, white);
  padding: 1rem;
  text-decoration: none;
  color: colormapper($color-map, app-title-color);
}

ul {
  list-style-type: none;
}

button {
  @include remove-appearance-mixin;

  &:disabled {
    cursor: not-allowed;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: #{$title-font-family};
}

p {
  font-family: #{$text-font-family};
  font-weight: 400;
  color: colormapper($color-map, item-text-color);
  font-size: #{$text-font-size};
}
