@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//--- Font Family ---//
$font-mix: 'Helvetica', 'sans-serif';
$font-montserrat: 'Montserrat', $font-mix;
$font-open-sans: 'Open Sans', $font-mix;
