@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

$color-white: #FFF;
$color-blue: #34A5FF;
$color-purple: #859EFF;
$color-grey: #BFC4CE;
$color-grey-light: #D0D4DA;
$color-grey-dark: #8F97A8;
$color-main-bg: #F6F7F8;
$color-header-bg: $color-white;
$color-header-title: #414C5E;
$color-transcription-title: #566074;
$color-transcription-body: #778195;
$color-transcription-border: #EAEDEF;

$rules-max-width: 46.125rem;
$rules-header-height: 4.3125rem;
$rules-gutter: 1.5rem;

$fonts-not-loaded: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-montserrat: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$time-default: 300ms;
$easing-default: ease-in-out;
$easing-ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
