@font-face {
    font-family: OpenSansRegular;
    src: local("OpenSans-Regular"), url("@/assets/fonts/OpenSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: MontserratMedium;
    src: local("Montserrat-Medium"), url("@/assets/fonts/Montserrat-Medium.ttf") format('truetype');
}

@font-face {
    font-family: MontserratSemiBold;
    src: local("Montserrat-SemiBold"), url("@/assets/fonts/Montserrat-SemiBold.ttf") format('truetype');
}