/* THE DEFAULT SETTINGS OF THE APP SHOULD BE PLACED HERE */

@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600|Open+Sans:400&display=swap);

$font-size: 62.5%;

$title-font-family: "Montserrat", sans-serif;
$title-font-size: 18px;

$text-font-family: "Open Sans", sans-serif;
$text-font-size: 16px;

%text-font-family {
  font-family: #{$text-font-family};
}

%title-font-family {
  font-family: #{$title-font-family};
}

$color-map: (
  white: #fff,
  main-background-color: #ececec,
  app-title-color: #414c5e,
  item-title-color: #566074,
  item-text-color: #778195,
  highlight-color: #859eff,
  list-item-border: #eaedef,
  warning-color: #ffc107,
  error-color: rgba(220, 53, 69, 0.9),
  light-blue: #34a5ff
);
