@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600&display=swap');

//  FONTS
$font-open-sans:            'Open Sans', sans-serif;
$font-montserrat:           'Montserrat', sans-serif;

$font-size-normal:          1em!default;
$font-size-large:           1.125em!default;
$font-weight-normal:        300;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$default-line-height:       1.4em;

//  COLORS
$purple:                    #859EFF!default;
$purple-dark:               #191d2f!default;
$gray:                      #566074!default;
$gray-light:                #778195!default;
$gray-lighter:              #f6f7f8!default;
$gray-dark:                 #414C5E!default;
$white:                     #FFFFFF!default;

//  RESPONSIVE
$mobile: 768px !default;
$tablet: 769px !default;

//  MISC
$default-transition-speed:  .2s;
$default-border-radius: 0.125em;
