// fonts
$ff-os: 'Open Sans', Helvetica, Arial, sans-serif;
$ff-m-medium: 'Montserrat Medium', Helvetica, Arial, sans-serif;
$ff-m-semibold: 'Montserrat SemiBold', Helvetica, Arial, sans-serif;


// $default-time: 150ms;
// $default-time-long: 400ms;
// $default-loader-time: 400ms;
// $default-easing: ease-in-out;
// $custom-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// dimensions
$header-height: 69px;
$default-padding: 24px;
$default-margin: 24px;
$content-width: 738px;

// colors
$proj-bg: #F6F7F8;
$border-color: #EAEDEF;



// mixins
@mixin titles {
  font-family: $ff-semibold;
  font-size: 18px;
}

// Responsive sizes
$responsive-small: 769px;
$responsive-medium: 1024px;
$responsive-large: 1200px;
