// fonts
$ff-os: 'Open Sans', Helvetica, Arial, sans-serif;
$ff-m-medium: 'Montserrat Medium', Helvetica, Arial, sans-serif;
$ff-m-semibold: 'Montserrat SemiBold', Helvetica, Arial, sans-serif;

// timings and easings
$default-time: 150ms;
$default-time-long: 400ms;
$default-loader-time: 400ms;
$default-easing: ease-in-out;
$custom-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// dimensions
$header-height: 69px;
$header-width: 738px;
$default-padding: 24px;
$default-margin: 24px;
$content-width: 786px;

// colors
$proj-bg: #F6F7F8;
$list-border-color: #EAEDEF;
$checkbox-border-color: #859EFF;

// mixins
@mixin header-title {
  font-family: $ff-m-medium;
  font-size: 18px;
  color: #414C5E;
}
@mixin list-title {
  font-family: $ff-m-semibold;
  font-size: 16px;
  color: #566074;
}
@mixin list-text {
  font-family: $ff-os;
  font-size: 16px;
  line-height: 22px;
  color: #778195;
}

// Responsive sizes
$responsive-small: 769px;
$responsive-medium: 1024px;
$responsive-large: 1200px;
