// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400italic,700italic,400,700);

$primary-color: #859dff;
$secondary-color: #566074;
$third-color: #778195;
$forth-color: #414C5E;
$monserrat: 'Monserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;